.body {
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7.24vw;
}

.logo {
  position: relative;
  padding: 40px 0 40px 51px;
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  bottom: 25%;
  left: 0;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0.7;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
  animation: bounce 0.7s 3s 2;
}

@keyframes bounce {
  from,
  to {
    bottom: 30px;
    animation-timing-function: ease-out;
  }

  50% {
    bottom: 45px;
    animation-timing-function: ease-in;
  }
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}

.nav__item {
  margin-right: 25px;
  font: 500 0.938vw/1.094vw robotobold, arial, helvetica, sans-serif;
  text-decoration: none;
  color: #000;
  position: relative;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.nav__item_active::after {
  display: block;
  content: '';
  width: 0%;
  left: 50%;
  height: 3px;
  background: #0056ec;
  position: absolute;
  transition: width 0.2s ease-out;
  transform: translateX(-50%);
}

.nav__item:hover {
  opacity: 0.7;
}

.nav__item_active:hover::after {
  width: 100%;
}

.nav__item:last-child {
  margin-right: 0;
}

.section {
  display: flex;
  align-items: center;
  padding-top: 133px;
}

.main {
  padding: 3.385vw 63% 12.448vw 0;
  background: top right no-repeat url(img/img.svg);
  background-size: 50% auto;
}

.main__title {
  font: 3.45vw/4.54vw pt_serifbold, arial, helvetica, sans-serif;
  margin: 0 0 1.927vw 0;
  color: #000;
}

.main__title-text_highlight {
  background: #ecf3ff;
}

.main__text {
  font: 1.15vw/1.35vw robotomedium, arial, helvetica, sans-serif;
  margin: 0 0 3.281vw 0;
  color: #000;
  width: 22.292vw;
}

.main__btn {
  font: 500 0.938vw/1.094vw robotomedium, arial, helvetica, sans-serif;
  padding: 0.833vw 1.563vw;
  background-color: #0056ec;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s ease-out;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.main__btn:hover {
  opacity: 0.7;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* MOBILE NAV */

.mobile-nav {
  z-index: 9999999;
}

.mobile-nav__btn {
  position: relative;
  display: flex;
  align-items: center;
  width: 25px;
  height: 39px;
  cursor: pointer;
  transition: 0.4s;
  z-index: 9999;
}

.mobile-nav__icon {
  display: block;
  position: relative;
  background-color: #0056ec;
  width: 100%;
  height: 3px;
  transition: 0.4s;
}

.mobile-nav__icon::after,
.mobile-nav__icon::before {
  content: "";
  display: block;
  position: absolute;
  background: #0056ec;
  width: 100%;
  height: 3px;
  transition: 0.4s;
}

.mobile-nav__icon::after {
  top: 6px;
}

.mobile-nav__icon::before {
  top: -6px;
}

.mobile-nav__container {
  position: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 0;
  opacity: 1;
  transition: 0.5s;
  overflow: hidden;
  background-color: #fff;
}

.mobile-nav__list {
  transition: 0.5s;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.mobile-nav__item {
  font: 30px/35px robotomedium, arial, helvetica, sans-serif;
  padding-bottom: 24px;
}

.mobile-nav__link {
  text-decoration: none;
  color: #000;
  opacity: 1;
  transition: opasity 2s ease-out;
}

.mobile-nav__link:hover {
  opacity: 0.7;
}

.mobile-nav__checkbox {
  display: none;
}

.mobile-nav__checkbox:checked ~ .mobile-nav__nav {
  opacity: 1;
}

.mobile-nav__checkbox:checked ~ .mobile-nav__container {
  height: 100%;
}

.mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon {
  background: transparent;
}

.mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::before,
.mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::after {
  top: 0;
}

.mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::after {
  transform: rotate(-45deg);
}

.mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::before {
  transform: rotate(45deg);
}

/* preloader */

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 99999999;
  transition: 1s all;
  opacity: 1;
  visibility: visible;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.ellipse {
  margin: 0 15px;
  width: 35px;
  height: 15px;
  border-radius: 8px;
  background: #0056ec;
}

.one {
  margin-right: -18px;
  transform-origin: center left;
  animation: spin 3s linear infinite;
}

.two {
  transform-origin: center right;
  animation: spin2 3s linear infinite;
  animation-delay: 0.2s;
}

.three {
  transform-origin: center right;
  animation: spin3 3s linear infinite;
  animation-delay: 0.3s;
}

.four {
  transform-origin: center right;
  animation: spin4 3s linear infinite;
  animation-delay: 0.4s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(360deg);
  }
  
  30% {
    transform: rotate(370deg);
  }
  
  35% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  
  20% {
    transform: rotate(0deg);
  }
  
  30% {
    transform: rotate(-180deg);
  }
  
  35% {
    transform: rotate(-190deg);
  }
  
  40% {
    transform: rotate(-180deg);
  }
  
  78% {
    transform: rotate(-180deg);
  }
  
  95% {
    transform: rotate(-360deg);
  }
  
  98% {
    transform: rotate(-370deg);
  }
  
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes spin3 {
  0% {
    transform: rotate(0deg);
  }
  
  27% {
    transform: rotate(0deg);
  }
  
  40% {
    transform: rotate(180deg);
  }
  
  45% {
    transform: rotate(190deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  62% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  80% {
    transform: rotate(370deg);
  }
  
  85% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin4 {
  0% {
    transform: rotate(0deg);
  }
  
  38% {
    transform: rotate(0deg);
  }
  
  60% {
    transform: rotate(-360deg);
  }
  
  65% {
    transform: rotate(-370deg);
  }
  
  75% {
    transform: rotate(-360deg);
  }
  
  100% {
    transform: rotate(-360deg);
  }
}

.done {
  opacity: 0;
  visibility: hidden;
}
